
.parent{
    width: 800px;
    background-color: #eee;
    margin: 20px auto;
}
.fully,
.thirdwidth,
.halfwidth,
.quatrewidth{
    background-color: #ccc;
    font-weight: bold;
    margin-top: 15px;
    float: left;
    margin-left: 15px;
    padding: 10px 0;
    text-align: center;
}
.fully{
    width: calc(100% - 30px);
}
.thirdwidth{
    width: calc((100% - 60px) / 3);
}
.halfwidth{
    width: calc((100% - 45px) / 2);
}
.quatrewidth{
    width: calc((100% - 75px) / 4);
    margin-bottom: 15px;
}
.clear{
    clear: both;
}