*{
    box-sizing: border-box;
}
.parent{
    width: 50px;
    height: 50px;
    margin: 50px auto;
    border: 5px solid #fc24aa;
    border-radius: 50%;
    border-left-color: transparent;
    position: relative;
    animation-name: spin1;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
}
.parent:hover{
    animation-play-state: paused;
}
.parent::before{
    content: "";
    width: calc(100% + 15px);
    height: calc(100% + 15px);
    border: 5px solid #0090ff;
    position: absolute;
    border-radius: 50%;
    border-top-color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.parent::after{
    content: "";
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    border: 5px solid #fc9000;
    position: absolute;
    border-radius: 50%;
    border-right-color: transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
@keyframes spin1{
    0%{
        transform: rotate(0turn);
    }
    100%{
        transform: rotate(1turn);
    }
}
